<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Каталог</title>
	<link rel="stylesheet" href="../../static/styles/menu.css">
	<link rel="stylesheet" href="../../static/styles/footer.css">
	<link rel="stylesheet" href="../../static/styles/catalog.css">
</head>
<body  style="background-color: #F9F9F9;">
	<header>

		<a href="../" class="logo"><img width="200" height="46" src="../static/image/logotype.svg" alt="Гусевской хрустальный завод"></a>
		
		<nav>
			<ul>
				<li><a href="/about_us">О ПРЕДПРИЯТИИ &blacktriangledown;</a>
					<ul>
						<li><a href= "/about_us/history">ИСТОРИЯ ЗАВОДА</a></li>
						<li><a href= "/about_us/ekskursii_na_proizvodstvo">	ЭКСКУРСИИ НА ПРОИЗВОДСТВО</a></li>
					</ul>
				</li>
				<li><a href="/catalog">КАТАЛОГ &blacktriangledown;</a>
					<ul>
						<li><a href="/catalog/predmety_serv">ПРЕДМЕТЫ СЕРВИРОВКИ</a>
						</li>
						<li><a href="/catalog/predmety_int">ПРЕДМЕТЫ ИНТРЕРЬЕРА</a>
						</li>
						<li><a href="/catalog/syveniry">СУВЕНИРЫ</a></li>
					</ul>
				</li>
				<li><a href="/shops">ГДЕ КУПИТЬ</a></li>
				<li><a href="/oplata">ДОСТАВКА И ОПЛАТА</a></li>
				<li><a href="/contacts">КОНТАКТЫ</a></li>
			</ul>
		</nav>
		<nav style="position: relative; float: right;">
			<ul><li><a href="/autorization">{{ sing_in }}</a></li></ul>
		</nav>
	</header>

	<div class="upward" onClick="scrollTopTop()"></div>

	<section style="padding: 50px;">
		<h2>КАТАЛОГ</h2>
		<h3>ПРЕДМЕТЫ СЕРВИРОВКИ</h3>
		<div class="catalog">	
			<div class="card">
				<img class="card-img" src="{{ catalog[0][1] }}" alt="Товар номер 1">
				<div class="card-title"><strong>{{ catalog[0][2] }}</strong></div>
				<div class="card-sub">
					<p>ХАРАКТЕРИСТИКИ<br>
						{% for el in color %}
							{% if el[0] == catalog[0][4] %}
								Цвет: {{el[1]}};
							{% endif %}
						{% endfor %}
						{{ catalog[0][6] }}
						Рисунок алмазной грани: {{ catalog[0][5] }};
						{% for el in appoint %}
							{% if el[0] == catalog[0][7] %}
								Назначение: {{el[1]}}
							{% endif %}
						{% endfor %}
						</p>
				</div>
				<form action="" method="post" class="buy">
					<input type="hidden" name="tovar_id" value="1">
					<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    			</form>
			</div>

			<div class="card">
				<img class="card-img" src="{{ catalog[12][1] }}" alt="Товар номер 13">
				<div class="card-title"><strong>{{ catalog[12][2] }}</strong></div>
				<div class="card-sub">
					<p>ХАРАКТЕРИСТИКИ<br>
						{% for el in color %}
							{% if el[0] == catalog[12][4] %}
								Цвет: {{el[1]}};
							{% endif %}
						{% endfor %}
						{{ catalog[12][6] }}
						Рисунок алмазной грани: {{ catalog[12][5] }};
						{% for el in appoint %}
							{% if el[0] == catalog[12][7] %}
								Назначение: {{el[1]}}
							{% endif %}
						{% endfor %}</p>
				</div>
				<form action="" method="post" class="buy">
					<input type="hidden" name="tovar_id" value="13">
					<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    			</form>
			</div>

			<div class="card">
				<img class="card-img" src="{{ catalog[1][1] }}" alt="Товар номер 2">
				<div class="card-title"><strong>{{ catalog[1][2] }}</strong></div>
				<div class="card-sub">
					<p>ХАРАКТЕРИСТИКИ<br>
						{% for el in color %}
							{% if el[0] == catalog[1][4] %}
								Цвет: {{el[1]}};
							{% endif %}
						{% endfor %}
						{{ catalog[1][6] }}
						Рисунок алмазной грани: {{ catalog[1][5] }};
						{% for el in appoint %}
							{% if el[0] == catalog[1][7] %}
								Назначение: {{el[1]}}
							{% endif %}
						{% endfor %}
					</p>
				</div>
				<form action="" method="post" class="buy">
					<input type="hidden" name="tovar_id" value="2">
					<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    			</form>
			</div>

			<div class="card">
				<img class="card-img" src="{{ catalog[2][1] }}" alt="Товар номер 3">
				<div class="card-title"><strong>{{ catalog[2][2] }}</strong></div>
				<div class="card-sub">
					<p>ХАРАКТЕРИСТИКИ<br>
						{% for el in color %}
							{% if el[0] == catalog[2][4] %}
								Цвет: {{el[1]}};
							{% endif %}
						{% endfor %}
						{{ catalog[2][6] }}
						Рисунок алмазной грани: {{ catalog[2][5] }};
						{% for el in appoint %}
							{% if el[0] == catalog[2][7] %}
								Назначение: {{el[1]}}
							{% endif %}
						{% endfor %}</p>
				</div>
				<form action="" method="post" class="buy">
					<input type="hidden" name="tovar_id" value="3">
					<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    			</form>
			</div>

			<div class="card">
				<img class="card-img" src="{{ catalog[3][1] }}" alt="Товар номер 4">
				<div class="card-title"><strong>{{ catalog[3][2] }}</strong></div>
				<div class="card-sub">
					<p>ХАРАКТЕРИСТИКИ<br>
						{% for el in color %}
							{% if el[0] == catalog[3][4] %}
								Цвет: {{el[1]}};
							{% endif %}
						{% endfor %}
						{{ catalog[3][6] }}
						Рисунок алмазной грани: {{ catalog[3][5] }};
						{% for el in appoint %}
							{% if el[0] == catalog[3][7] %}
								Назначение: {{el[1]}}
							{% endif %}
						{% endfor %}</p>
				</div>
				<form action="" method="post" class="buy">
					<input type="hidden" name="tovar_id" value="4">
					<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    			</form>
			</div>

			<div class="btn-more">
				<a class="btn" href="/catalog/predmety_serv">Показать больше</a>
			</div>
		</div>
		<div style="margin-top: 40px;">
		<h3>ПРЕДМЕТЫ ИНТЕРЬЕРА</h3>
			<div class="catalog">	
				<div class="card">
					<img class="card-img" src="{{ catalog[4][1] }}" alt="Товар номер 5">
					<div class="card-title"><strong>{{ catalog[4][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
							{% if el[0] == catalog[4][4] %}
								Цвет: {{el[1]}};
							{% endif %}
							{% endfor %}
							{{ catalog[4][6] }}
							Рисунок алмазной грани: {{ catalog[4][5] }};
							{% for el in appoint %}
								{% if el[0] == catalog[4][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="5">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[13][1] }}" alt="Товар номер 14">
					<div class="card-title"><strong>{{ catalog[13][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
							{% if el[0] == catalog[13][4] %}
								Цвет: {{el[1]}};
							{% endif %}
							{% endfor %}
							{{ catalog[13][6] }}
							Рисунок алмазной грани: {{ catalog[13][5] }};
							{% for el in appoint %}
								{% if el[0] == catalog[13][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="14">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[5][1] }}" alt="Товар номер 6">
					<div class="card-title"><strong>{{ catalog[5][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[5][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[5][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[5][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="6">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[6][1] }}" alt="Товар номер 7">
					<div class="card-title"><strong>{{ catalog[6][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[6][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[6][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[6][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="7">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[7][1] }}" alt="Товар номер 8">
					<div class="card-title"><strong>{{ catalog[7][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[7][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[7][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[7][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="8">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="btn-more">
					<a class="btn" href="/catalog/predmety_int">Показать больше</a>
				</div>
			</div>

			<div style="margin-top: 40px;">
			<h3>СУВЕНИРЫ</h3>
			<div class="catalog">	
				<div class="card">
					<img class="card-img" src="{{ catalog[8][1] }}" alt="Товар номер 9">
					<div class="card-title"><strong>{{ catalog[8][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[8][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[8][6] }}
							Рисунок алмазной грани: {{ catalog[8][5] }};
							{% for el in appoint %}
								{% if el[0] == catalog[8][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="9">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[14][1] }}" alt="Товар номер 15">
					<div class="card-title"><strong>{{ catalog[14][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[14][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[14][6] }}
							Рисунок алмазной грани: {{ catalog[14][5] }};
							{% for el in appoint %}
								{% if el[0] == catalog[14][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="15">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[9][1] }}" alt="Товар номер 10">
					<div class="card-title"><strong>{{ catalog[9][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[14][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[14][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[14][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="10">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[10][1] }}" alt="Товар номер 11">
					<div class="card-title"><strong>{{ catalog[10][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[10][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[10][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[10][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="11">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="card">
					<img class="card-img" src="{{ catalog[11][1] }}" alt="Товар номер 12">
					<div class="card-title"><strong>{{ catalog[11][2] }}</strong></div>
					<div class="card-sub">
						<p>ХАРАКТЕРИСТИКИ<br>
							{% for el in color %}
								{% if el[0] == catalog[11][4] %}
									Цвет: {{el[1]}};
								{% endif %}
							{% endfor %}
							{{ catalog[11][6] }}
							{% for el in appoint %}
								{% if el[0] == catalog[11][7] %}
									Назначение: {{el[1]}}
								{% endif %}
							{% endfor %}</p>
					</div>
					<form action="" method="post" class="buy">
						<input type="hidden" name="tovar_id" value="12">
						<p style="text-align: center;"><input type="submit" value="Купить" /></p>
    				</form>
				</div>

				<div class="btn-more">
					<a class="btn" href="/catalog/syveniry">Показать больше</a>
				</div>
			</div>

		</div>
		</div>
	</section>

	<div id="overlay">
    	<div class="popup">
        	<h2>Здесь могла быть ваша реклама!</h2>
        	<p>А пока что реклама нас.</p>
        	<center>
        		<img src="../static/image/logo.png">
        	</center>
        	<button class="close" title="Закрыть" onclick="document.getElementById('overlay').style.display='none';"></button>
    	</div>
	</div>

	<script type="text/javascript">
        var delay_popup = 5000;
        setTimeout("document.getElementById('overlay').style.display='block'", delay_popup);
	</script>

	<script>
		window.addEventListener('scroll', function(){
			var scroll = document.querySelector('.upward'); scroll.classList.toggle("active", window.scrollY>500)
		})
			function scrollTopTop(){
				window.scrollTo({
					top:0,
					behavior: 'smooth'
				})
			}
	</script>

	<footer>
		<section class="footer">
			<nav>
				<div class="footer-left">
					<img width="200" height="46" src="../static/image/logo-white.svg" alt="Гусевской хрустальный завод">
					<h4 style="letter-spacing: .1em;">ГУСЕВСКОЙ ХРУСТАЛЬНЫЙ ЗАВОД ИМ. А. МАЛЬЦОВА</h4>
					<p>8 (800) 551-02-40</p>
					<p>8 (495) 174-55-57</p>
					<p>08.30-17.00 (График работы)</p>
					<p>sales@ghz.ru</p>
				</div>
				<div class="footer-right">
					<a href="/catalog"><h4>Каталог</h4></a>
					<a href="/catalog/predmety_serv">Предметы сервировки</a>
					<a href="/catalog/predmety_int">Предметы интерьера</a>
					<a href="/catalog/syveniry">Сувениры</a>
				</div>
				<div class="footer-right">
					<a href="/about_us"><h4>О предприятии</h4></a>
					<a href="/about_us/history">История завода</a>
					<a href="/about_us/ekskursii_na_proizvodstvo">Экскурсии на производство</a>
				</div>
				<div class="footer-right">
					<h4>Помощь и сервисы</h4>
					<a href="/shops">Где купить</a>
					<a href="/oplata">Доставка и оплата</a>
					<a href="/contacts">Контакты</a>
				</div>
			</nav>
		</section>
	</footer>

</body>
</html>