<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>История завода</title>
	<link rel="stylesheet" href="../../static/styles/menu.css">
	<link rel="stylesheet" href="../../static/styles/footer.css">
	<link rel="stylesheet" href="../../static/styles/history.css">
</head>
<body style="background-color: #F9F9F9;">
	<header>

		<a href="/" class="logo"><img width="200" height="46" src="../../static/image/logotype.svg" alt="Гусевской хрустальный завод"></a>
		
		<nav>
			<ul>
				<li><a href="/about_us">О ПРЕДПРИЯТИИ &blacktriangledown;</a>
					<ul>
						<li><a href= "/about_us/history">ИСТОРИЯ ЗАВОДА</a></li>
						<li><a href= "/about_us/ekskursii_na_proizvodstvo">	ЭКСКУРСИИ НА ПРОИЗВОДСТВО</a></li>
					</ul>
				</li>
				<li><a href="/catalog">КАТАЛОГ &blacktriangledown;</a>
					<ul>
						<li><a href="/catalog/predmety_serv">ПРЕДМЕТЫ СЕРВИРОВКИ</a>
						</li>
						<li><a href="/catalog/predmety_int">ПРЕДМЕТЫ ИНТРЕРЬЕРА</a>
						</li>
						<li><a href="/catalog/syveniry">СУВЕНИРЫ</a></li>
					</ul>
				</li>
				<li><a href="/shops">ГДЕ КУПИТЬ</a></li>
				<li><a href="/oplata">ДОСТАВКА И ОПЛАТА</a></li>
				<li><a href="/contacts">КОНТАКТЫ</a></li>
			</ul>
		</nav>
		<nav style="position: relative; float: right;">
			<ul><li><a href="/autorization">{{ sing_in }}</a></li></ul>
		</nav>
	</header>

	<div class="upward" onClick="scrollTopTop()"></div>

	<div style="padding: 50px;">
		<div class="history">
			<h2>ИСТОРИЯ ГУСЕВСКОГО ХРУСТАЛЬНОГО ЗАВОДА ИМ. А. МАЛЬЦОВА</h2>
			<div>
				<img width="50%" height="500" src="../../static/image/history-1.jpg" alt="Фото история 1">
				<p>
					В 1756 году орловский купец Аким Васильевич Мальцов основал очередную «фамильную» стеклянную фабрику, выбрав место во Владимирском уезде Московской губернии, при сельце Никулине, в урочище Шиворово, что на реке Гусь. <br>
					К середине XIX века гусевская фабрика Мальцовых числилась в ведомостях мануфактур как «чисто русское хрустальное производство», работавшее исключительно на отечественном сырье и топливе, имеющее русские кадры. Самобытные произведения гусевских мастеров славились далеко за российскими пределами и производили фурор на престижных международных выставках. В числе постоянных заказчиков и покупателей значились известные коллекционеры, крупнейшие ювелирные компании и даже царственные особы.
				</p>
			</div>
		</div>

		<div class="history">
			<div>
				<p>
					В начале XX века Гусевской хрустальный завод был национализирован. В сороковых годах здесь наладили массовый выпуск недорогой прессованной посуды (стаканов, блюдец, сахарниц, маслёнок) и стеклянных пуговиц. В годы Великой Отечественной войны производство гражданской продукции пришлось свернуть до минимума, чтобы обеспечить поставки для нужд фронта (завод выпускал медицинские ампулы, шары для горючей смеси, колбы для термосов, фляги, светотехническое стекло). Возвращение к мирной жизни позволило начать возрождение хрустального производства. В начале пятидесятых годов на заводе приступили к выработке свинцового хрусталя. Появились новые печи и автоматизированные линии, современные технологии варки цветного хрусталя и роботы для нанесения алмазной грани. Росли объёмы производства, расширялась география экспорта, продукция завоёвывала медали международных выставок и государственные награды.
				</p>
				<span class="pict_with_text" style="margin-right: 25px;">
					<img width="100%" height="500" src="../../static/image/history-2.jpg" alt="Фото истории 2">
					<p>Памятник Акиму Мальцову в Гусь-Хрустальном</p>
				</span>
				<span class="pict_with_text">
					<img width="100%" height="500" src="../../static/image/history-3.jpg" alt="Фото истории 3">
					<p>Герб рода Мальцовых</p>
				</span>
			</div>
		</div>

		<div class="history">
			<div>
				<span class="pict_with_text">
					<img width="100%" height="500" src="../../static/image/history-4.jpg" alt="Фото история 4">
					<p>Выдувание заготовки для оконного стекла. Середина XIX в.</p>
				</span>
				<p>
					Вследствие экономического кризиса начала XXI века легендарный промысел мог прекратить своё существование, но производство удалось возродить. 26 декабря 2013 года Гусевской хрустальный завод, который теперь носит имя своего основателя, купца Акима Мальцова, возобновил работу после двухлетнего перерыва
				</p>
			</div>
		</div>

		<div class="history">
			<div>
				<span class="pict_with_text" style="margin-right: 10%">
					<img width="100%" height="500" src="../../static/image/history-5.jpg" alt="Фото история 5">
					<p>У стекловаренной печи. 1930-е гг.</p>
				</span>
				<span class="pict_with_text">
					<img width="100%" height="500" src="../../static/image/history-6.jpg" alt="Фото история 6">
					<p>В алмазном цехе.</p>
				</span>
			</div>
		</div>

	</div>

	<script>
		window.addEventListener('scroll', function(){
			var scroll = document.querySelector('.upward'); scroll.classList.toggle("active", window.scrollY>500)
		})
			function scrollTopTop(){
				window.scrollTo({
					top:0,
					behavior: 'smooth'
				})
			}
	</script>

	<footer>
		<section class="footer">
			<nav>
				<div class="footer-left">
					<img width="200" height="46" src="../../static/image/logo-white.svg" alt="Гусевской хрустальный завод">
					<h4 style="letter-spacing: .1em;">ГУСЕВСКОЙ ХРУСТАЛЬНЫЙ ЗАВОД ИМ. А. МАЛЬЦОВА</h4>
					<p>8 (800) 551-02-40</p>
					<p>8 (495) 174-55-57</p>
					<p>08.30-17.00 (График работы)</p>
					<p>sales@ghz.ru</p>
				</div>
				<div class="footer-right">
					<a href="/catalog"><h4>Каталог</h4></a>
					<a href="/catalog/predmety_serv">Предметы сервировки</a>
					<a href="/catalog/predmety_int">Предметы интерьера</a>
					<a href="/catalog/syveniry">Сувениры</a>
				</div>
				<div class="footer-right">
					<a href="/about_us"><h4>О предприятии</h4></a>
					<a href="/about_us/history">История завода</a>
					<a href="/about_us/ekskursii_na_proizvodstvo">Экскурсии на производство</a>
				</div>
				<div class="footer-right">
					<h4>Помощь и сервисы</h4>
					<a href="/shops">Где купить</a>
					<a href="/oplata">Доставка и оплата</a>
					<a href="/contacts">Контакты</a>
				</div>
			</nav>
		</section>
	</footer>

</body>
</html>