<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Где купить</title>
	<link rel="stylesheet" href="../../static/styles/menu.css">
	<link rel="stylesheet" href="../../static/styles/footer.css">
	<link rel="stylesheet" href="../../static/styles/shops.css">
</head>
<body>
	<header>

		<a href="../" class="logo"><img width="200" height="46" src="../static/image/logotype.svg" alt="Гусевской хрустальный завод"></a>
		
		<nav>
			<ul>
				<li><a href="/about_us">О ПРЕДПРИЯТИИ &blacktriangledown;</a>
					<ul>
						<li><a href= "/about_us/history">ИСТОРИЯ ЗАВОДА</a></li>
						<li><a href= "/about_us/ekskursii_na_proizvodstvo">	ЭКСКУРСИИ НА ПРОИЗВОДСТВО</a></li>
					</ul>
				</li>
				<li><a href="/catalog">КАТАЛОГ &blacktriangledown;</a>
					<ul>
						<li><a href="/catalog/predmety_serv">ПРЕДМЕТЫ СЕРВИРОВКИ</a>
						</li>
						<li><a href="/catalog/predmety_int">ПРЕДМЕТЫ ИНТРЕРЬЕРА</a>
						</li>
						<li><a href="/catalog/syveniry">СУВЕНИРЫ</a></li>
					</ul>
				</li>
				<li><a href="/shops">ГДЕ КУПИТЬ</a></li>
				<li><a href="/oplata">ДОСТАВКА И ОПЛАТА</a></li>
				<li><a href="/contacts">КОНТАКТЫ</a></li>
			</ul>
		</nav>
		<nav style="position: relative; float: right;">
			<ul><li><a href="/autorization">{{ sing_in }}</a></li></ul>
		</nav>
	</header>

	<div class="upward" onClick="scrollTopTop()"></div>

	<section style="background-color: #F9F9F9; padding: 50px; ">
		<h1>Где купить</h1>
		<table class="table">
	<tbody>
		<tr>
			<td><h4>Владимир</h4></td>
			<td>
				<p>Магазин: Гусевской Хрусталь</p>
				<p>Адрес: г. Владимир, ул. Б. Московская, д.19</p>
				<p>Телефон: +7(4922) 45-15-73</p>
				<p>Email: salon@ghz.ru</p>
				<p>Режим работы: Ежедневно, с 10 до 21</p>
			</td>
		</tr>
		<tr>
			<td><h4>Гусь-Хрустальный</h4></td>
			<td>
				<p>Магазин: Гусевской Хрусталь</p>
				<p>Адрес: Владимирская область, г. Гусь-Хрустальный, ул. Калинина, д.30</p>
				<p>Телефон: +7 (900) 584−01−05</p>
				<p>Email: salon2@ghz.ru</p>
				<p>Режим работы: Ежедневно, с 9 до 21</p>
			</td>
		</tr>
		<tr>
			<td rowspan="5"><h4>Москва</h4></td>
			<td>
				<p>Магазин: Гусевской Хрусталь</p>
				<p>Адрес: г. Москва, Ленинский проспект, д. 45</p>
				<p>Режим работы: Ежедневно, с 10 до 21</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Магазин: Фирменный магазин «Императорский фарфор №12»</p>
				<p>Адрес: Москва, ул. Тверская, 27/1, ст. м. Маяковская Тверская</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Магазин: Фирменный магазин «Императорский фарфор №14»</p>
				<p>Адрес: Москва, Кутузовский пр., д. 17, м. Киевская</p>
				<p>Телефон: +7 (499) 678-02-48</p>
				<p>Режим работы: Ежедневно, с 10 до 22</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Магазин: Фирменный магазин «Императорский фарфор №25»</p>
				<p>Адрес: Москва, ул. Маросейка, д. 4/2, строение 1, ст. м. Китай-город</p>
				<p>Телефон: +7 (499) 678−01−55</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Магазин: Дом Фарфора на Ленинском проспекте</p>
				<p>Адрес: г. Москва, Ленинский проспект, д. 36</p>
				<p>Телефон: +7 (495) 995-60-23</p>
				<p>Режим работы: Ежедневно, с 10 до 21</p>
			</td>
		</tr>
		<tr>
			<td><h4>Санкт-Петербург</h4></td>
			<td>
				<p>Магазин: «Императорский фарфор»</p>
				<p>Адрес: г.Санкт-Петербург переулок Нестерова д.9</p>
				<p>Телефон: +7 (921) 180-54-54</p>
				<p>Email: ifznesterova@mail.ru</p>
				<p>Режим работы: Ежедневно, с 10 до 21</p>
			</td>
		</tr>
		<tr>
			<td><h4>Новосибирск</h4></td>
			<td>
				<p>Магазин: Галерея интерьеров Неоклассик. Салон Villeroy&Boch.</p>
				<p>Адрес: г.Новосибирск, ул.Кирова, 27</p>
				<p>Телефон: +7 (383) 266-89-59</p>
				<p>Email: salon2@ghz.ru</p>
				<p>Режим работы: Ежедневно, с 10 до 19</p>
			</td>
		</tr>
		<tr>
			<td><h4>Суздаль</h4></td>
			<td>
				<p>Магазин: Гусевской Хрусталь</p>
				<p>Адрес:  Владимирская область, г. Суздаль, ул. Ленина, д.63А</p>
				<p>Телефон: +7 (49231) 2−11−90</p>
				<p>Email: Gostinydvor.szd@mail.ru</p>
				<p>Режим работы: Ежедневно, с 10 до 19</p>
			</td>
		</tr>
	</tbody>
</table>
	</section>

	<script>
		window.addEventListener('scroll', function(){
			var scroll = document.querySelector('.upward'); scroll.classList.toggle("active", window.scrollY>500)
		})
			function scrollTopTop(){
				window.scrollTo({
					top:0,
					behavior: 'smooth'
				})
			}
	</script>

	<footer>
		<section class="footer">
			<nav>
				<div class="footer-left">
					<img width="200" height="46" src="../static/image/logo-white.svg" alt="Гусевской хрустальный завод">
					<h4 style="letter-spacing: .1em;">ГУСЕВСКОЙ ХРУСТАЛЬНЫЙ ЗАВОД ИМ. А. МАЛЬЦОВА</h4>
					<p>8 (800) 551-02-40</p>
					<p>8 (495) 174-55-57</p>
					<p>08.30-17.00 (График работы)</p>
					<p>sales@ghz.ru</p>
				</div>
				<div class="footer-right">
					<a href="/catalog"><h4>Каталог</h4></a>
					<a href="/catalog/predmety_serv">Предметы сервировки</a>
					<a href="/catalog/predmety_int">Предметы интерьера</a>
					<a href="/catalog/syveniry">Сувениры</a>
				</div>
				<div class="footer-right">
					<a href="/about_us"><h4>О предприятии</h4></a>
					<a href="/about_us/history">История завода</a>
					<a href="/about_us/ekskursii_na_proizvodstvo">Экскурсии на производство</a>
				</div>
				<div class="footer-right">
					<h4>Помощь и сервисы</h4>
					<a href="/shops">Где купить</a>
					<a href="/oplata">Доставка и оплата</a>
					<a href="/contacts">Контакты</a>
				</div>
			</nav>
		</section>
	</footer>

</body>
</html>