.ekskursii h2{
	font-size: 2.5rem;
    line-height: 3.375rem;
    font-family: "Cormorant",serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.ekskursii div{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    margin-bottom: 50px;
}

.ekskursii p{
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    width: 450px;
    margin: auto;
}
.btn {
    background-color: white;
    padding: 30px 60px;
    text-decoration: none;
    color: #000;
    border: thin solid black;
}

.btn:hover{
    background-color: black;
    color: #fff;
}

.btn-more {
    margin: auto;
}